[Unit]
Description=Check PaNasMs HDD idle time after boot and hotplug

[Timer]
OnBootSec=30
OnUnitInactiveSec=30
AccuracySec=1s

[Install]
WantedBy=timers.target
