[Unit]
Description=Apply PaNasMs HDD standby settings after boot and hotplug

[Timer]
OnBootSec=30
OnUnitInactiveSec=60

[Install]
WantedBy=timers.target
